.card {
    padding: 2px 2px;
    width: 14rem;
    display: inline-grid;
}

.img-container {
    position: relative;
    display: inline-block;
} 

.card-img-top {
    position: relative;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;

} 

.card-title {
    position: relative;
    text-align: center;
}

/* .card-img-top .remove {
    position: relative;
    top: 60px;
    right: 100%;
    width: 2rem;
    height: 2rem;
    color: green;
    
    background-color: #555;
    font-size: 12px;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  } */


  .player {
    position: relative;
    width: 20rem;
    height: 3rem
} 

/* .sound-img {
    justify-self: center;
    height: 10rem;
    width: 10rem;
}
*/