.card {
    width: 12rem;
    display: inline-grid;
}

.player {
    width: 12rem;
    height: 3rem
} 

.card-img-top {
    width: 10rem;
    height: 10rem;
} 

/* FOOTER STYLES */

.footer-bs {
    background-color: #3c3d41;
	padding: 20px;
    color: rgba(255,255,255,1.00);
    margin-top: 80px;
}

.footer-bs a {
    color: white;
}

.footer-bs a:hover {
    color: white;
}

.footer-bs a:visited {
    color: white;
}