.card {
    width: 12rem;
    display: inline-grid;
}

.player {
    width: 12rem;
    height: 3rem
} 

.card-img-top {
    width: 10rem;
    height: 10rem;
} 


/* .sound-img {
    justify-self: center;
    height: 10rem;
    width: 10rem;
}
*/